 #game-window {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 90vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    }
    
input {
     margin-bottom:20px;
            
    }

#player1 {
    display: block;
    justify-content: space-around;
}

#myList {
    list-style: none;
    display:flex;
}

#li1 {
    height: 20px;
    width: auto;
}

#myBtn{
    padding: 20px 60px;
}

#id{
    justify-content: space-around;
}

#myList2 {
    list-style: none;
    display: flex;
}

#li2 {
    height: 20px;
    width: auto;
}
              


